/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
	width:100%;
	height:100%;
	background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  -webkit-tap-highlight-color: white;
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/*
Ajout du css ici pour la page : c'est pas bien ranger
mais bon */


h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

a {
  color: rgb(30,30,30)
}

.main-text {
  width:45%;
  margin: 0 auto;
  font-size: 18px;
  padding: 20px 0px 60px 0;
}

.main-text h2 {
  color: rgb(220,220,220);
}

#banner {
  background-image: linear-gradient(to right, rgba(200,200,200,0.3), rgba(100,100,100,0.3)), url('https://picsum.photos/1000/1300');
  text-align: center;
  height: 70%;
  background-size:cover;
  color:rgb(245,245,245);
}

#banner h1 {
  padding:10%;
}

#green-highlight {
  background-color: rgba(233, 253, 240, 1);
  text-decoration: none;
  font-size: 25px;
  color: rgba(150,150,150);
}

#green-highlight:hover {
  background-color:rgba(125, 255, 179, 1);
}


/* ---- stats.js ---- */

.count-particles{
  background: black;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: black;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.bouton{
  border: 4px solid rgb(200,200,200);
  background-color: black;
  color: rgb(200,200,200);
  margin: auto;
  font-size: 30px;
  padding: 10px;
  position: absolute;
    display: flex;
  justify-content: center;
  align-items: center;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
*/
  border-radius: 45px;
  height: 34px;
  width:140px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
/*  cursor: url(https://image.flaticon.com/icons/svg/1958/1958737.svg), auto;
*/
/*cursor: url(https://messari.io/asset-images/7dc551ba-cfed-4437-a027-386044415e3e/128.png?v=1), auto;
*/
  cursor: url(../128.png), auto;
 position: Absolute;
 top: center;
 right: 18%;

}

.text{
/*  display: flex;
  justify-content: center;
  align-items: center;*/
/*  fait rien car pas de flex box ?*/

}


.bouton:hover {
    -webkit-transition: 1s all 1s;
  -o-transition: 1s all 1s;
  transition: 1s all 1s;
/*  transition-duration: 1s;
  transition-delay: 5s;
    animation-delay: 2s;
*/
  cursor: url(../128.png), auto;
  background-color: white;
  color:black;
}
.bouton:hover{
/*  transition-delay: 1s;
    animation-delay: 2s;*/
  width: 100%;
  height: 100%;
  /*transition: 2s;*/
}
.bouton:hover text{
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  text-align: center;
}

.bouton:hover:after{
    content:'  AND READ OUR TECH POSTS';
}



